In [1]:
#1
import pandas as pd
df = pd.read_excel("sales.xlsx",engine='openpyxl')

In [2]:
#2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       65535 non-null  int64
 1   Product    65535 non-null  object
 2   line       65535 non-null  object
 3   Product.1  65535 non-null  object
 4   type       65535 non-null  object
 5   Product.2  65535 non-null  object
 6   Order      65535 non-null  object
 7   method     61083 non-null  object
 8   type.1     46709 non-null  object
 9   Retailer   32525 non-null  object
 10  country    24135 non-null  object
 11  Revenue    21494 non-null  object
 12  Planned    20925 non-null  object
 13  revenue    20645 non-null  object
 14  Product.3  20588 non-null  object
 15  cost       19224 non-null  float64
 16  Quantity   13663 non-null  float64
 17  Unit       7046 non-null   float64
 18  cost.1     2403 non-null   float64
 19  Unit.1     650 non-null    float64
 20  price      233 non-null    float64
 21  Gross      46 non-null     float64
 22  profit     4 non-null      float64
 23  Unit.2     0 non-null      float64
 24  sale       0 non-null      float64
 25  price.1    0 non-null      float64
dtypes: float64(11), int64(1), object(14)
memory usage: 13.0+ MB

In [3]:
#3
correct_title = []
temp = ''
for i in df.columns:
    if i.istitle():
        if 'Product' in i:
            i = 'Product'
        if 'Unit' in i:
            i = 'Unit'
        correct_title.append(temp)
        temp = ''
        temp += i
    if i.islower():
        if 'type' in i:
            i = 'type'
        if 'cost' in i:
            i = 'cost'
        temp += ' '
        temp += i

correct_title[1:]

['Year',
 'Product line',
 'Product type',
 'Product',
 'Order method type',
 'Retailer country',
 'Revenue',
 'Planned revenue',
 'Product cost',
 'Quantity',
 'Unit cost',
 'Unit price',
 'Gross profit']

In [4]:
df.head()

,Year,Product,line,Product.1,type,Product.2,Order,method,type.1,Retailer,...,Quantity,Unit,cost.1,Unit.1,price,Gross,profit,Unit.2,sale,price.1
0,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,United,...,6.59,156672.570,5.195714,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Canada,...,7145.88,6.190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Brazil,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Japan,...,91707.18,5.488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#4
print(df.groupby('Year').size())
print()
print(df.groupby(['Year','Product']).size())
'''
經過比對Year欄位沒有錯置的問題
'''

Year
2004    21168
2005    21168
2006    21168
2007     2031
dtype: int64

Year  Product
2004  Camping           6027
      Golf              2205
      Mountaineering    3087
      Outdoor           2205
      Personal          7644
2005  Camping           6027
      Golf              2205
      Mountaineering    3087
      Outdoor           2205
      Personal          7644
2006  Camping           6027
      Golf              2205
      Mountaineering    3087
      Outdoor           2205
      Personal          7644
2007  Camping           2031
dtype: int64

'\n經過比對Year欄位沒有錯置的問題\n'

In [6]:
#5
print(df.groupby(['Product','line']).size())
print()
print(df.groupby(['Product','line','Product.1']).size())
'''
經過比對Product和line欄位沒有錯置的問題，
可以直接合併欄位。
'''
df['Product line'] = df['Product'] + ' ' + df['line']
df = df.drop(['Product','line'],axis=1)
df

Product         line
Camping         Equipment      20112
Golf            Equipment       6615
Mountaineering  Equipment       9261
Outdoor         Protection      6615
Personal        Accessories    22932
dtype: int64

Product         line         Product.1
Camping         Equipment    Cooking       5880
                             Lanterns      5292
                             Packs         2646
                             Sleeping      3087
                             Tents         3207
Golf            Equipment    Golf          1764
                             Irons         1764
                             Putters       1323
                             Woods         1764
Mountaineering  Equipment    Climbing      3087
                             Rope          1764
                             Safety        1764
                             Tools         2646
Outdoor         Protection   First         2205
                             Insect        2205
                             Sunscreen     2205
Personal        Accessories  Binoculars    2646
                             Eyewear       7056
                             Knives        3087
                             Navigation    4410
                             Watches       5733
dtype: int64

,Year,Product.1,type,Product.2,Order,method,type.1,Retailer,country,Revenue,...,Unit,cost.1,Unit.1,price,Gross,profit,Unit.2,sale,price.1,Product line
0,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,United,States,315044.33,...,156672.570,5.195714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
1,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Canada,13444.68,14313.48,...,6.190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
2,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Mexico,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
3,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Brazil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
4,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Japan,181120.24,235236.64,...,5.488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,2007,Tents,Star,Gazer,3,E-mail,Sweden,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
65531,2007,Tents,Star,Gazer,3,E-mail,Finland,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
65532,2007,Tents,Star,Gazer,3,E-mail,Denmark,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
65533,2007,Tents,Star,Gazer,3,E-mail,France,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
65534,2007,Tents,Star,Gazer,3,E-mail,Germany,59382.96,62508.6,38136,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment

In [7]:
#6
'''data_type = ['Climbing','Cooking','First','Golf','Insect','Sleeping']'''
df_new_title = df.rename(columns={'Product.1': 'Product'})
df_new_title
'''
透過判斷產品字根移除不需要的Product type
'''
df1 = df_new_title[(df_new_title.Product == 'Climbing') | (df_new_title.Product == 'Cooking') | (df_new_title.Product == 'First') | (df_new_title.Product == 'Golf') | (df_new_title.Product == 'Insect') | (df_new_title.Product == 'Sleeping')]
'''
確認Product Type 的欄位錯置狀況
'''
print(df1.groupby(['Product','type']).size())
print('='*50)
print(df1.groupby(['Product','type','Product.2']).size())
'''
經過觀查可以發現Product Type剛好被分別放在Product、type中並各佔一個欄位，
故可以在下一題直接合併欄位，接下來先覆蓋原來的df
'''
print('='*50)
df = df1
df

Product   type
Climbing  Accessories    3087
Cooking   Gear           5880
First     Aid            2205
Golf      Accessories    1764
Insect    Repellents     2205
Sleeping  Bags           3087
dtype: int64
==================================================
Product   type         Product.2
Climbing  Accessories  Firefly       1323
                       Granite       1764
Cooking   Gear         TrailChef     5880
First     Aid          Aloe           441
                       Calamine       441
                       Compact        441
                       Deluxe         441
                       Insect         441
Golf      Accessories  Course        1764
Insect    Repellents   BugShield     2205
Sleeping  Bags         Hibernator    3087
dtype: int64
==================================================

,Year,Product,type,Product.2,Order,method,type.1,Retailer,country,Revenue,...,Unit,cost.1,Unit.1,price,Gross,profit,Unit.2,sale,price.1,Product line
0,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,United,States,315044.33,...,156672.570,5.195714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
1,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Canada,13444.68,14313.48,...,6.190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
2,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Mexico,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
3,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Brazil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
4,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Japan,181120.24,235236.64,...,5.488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64969,2007,Cooking,Gear,TrailChef,Utensils,Fax,Belgium,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
64970,2007,Cooking,Gear,TrailChef,Utensils,Fax,Switzerland,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
64971,2007,Cooking,Gear,TrailChef,Utensils,Fax,Austria,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
64972,2007,Cooking,Gear,TrailChef,Utensils,Fax,Italy,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment
64973,2007,Cooking,Gear,TrailChef,Utensils,Fax,Spain,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment

In [8]:
#7 
'''在第六題我們已經成功移除不必要的資料，同時也確認欄位可以直接進行合併並drop掉不要的欄位'''
df1['Product type'] = df1['Product'] + ' ' + df1['type']
df1 = df1.drop(['Product','type'],axis=1)
df = df1
df

C:\Users\QiXiang\.conda\envs\Test\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Product.2,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,...,cost.1,Unit.1,price,Gross,profit,Unit.2,sale,price.1,Product line,Product type
0,2004,TrailChef,Water,Bag,Telephone,United,States,315044.33,437477.15,158371.76,...,5.195714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
1,2004,TrailChef,Water,Bag,Telephone,Canada,13444.68,14313.48,6298.8,2172,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
2,2004,TrailChef,Water,Bag,Telephone,Mexico,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
3,2004,TrailChef,Water,Bag,Telephone,Brazil,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
4,2004,TrailChef,Water,Bag,Telephone,Japan,181120.24,235236.64,89413.06,35696,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64969,2007,TrailChef,Utensils,Fax,Belgium,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
64970,2007,TrailChef,Utensils,Fax,Switzerland,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
64971,2007,TrailChef,Utensils,Fax,Austria,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
64972,2007,TrailChef,Utensils,Fax,Italy,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear
64973,2007,TrailChef,Utensils,Fax,Spain,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear

In [9]:
#8.1 
'''
前置判斷Product分別有佔1~3個欄位的狀況出現，甚至還不只
'''
print(df.groupby(['Product.2','Order']).size())
print('='*50)
print(df.groupby(['Product.2','Order','method']).size())
print('='*50)
print(df.groupby(['Product.2','Order','method','type.1']).size())
print('='*50)
print(df.groupby(['Product.2','Order','method','Retailer']).size())

Product.2   Order
Aloe        Relief           441
BugShield   Extreme          441
            Lotion           882
            Natural          441
            Spray            441
Calamine    Relief           441
Compact     Relief           441
Course      Pro             1764
Deluxe      Family           441
Firefly     Charger          441
            Climbing         441
            Rechargeable     441
Granite     Belay            441
            Carabiner        441
            Chalk            441
            Pulley           441
Hibernator  Camp             441
            E-mail            63
            Extreme          441
            Fax               63
            Lite             441
            Mail              63
            Pad              441
            Pillow           441
            Sales             63
            Self             441
            Special           63
            Telephone         63
            Web               63
Insect      Bite             441
TrailChef   Canteen          588
            Cook             588
            Cup              588
            Deluxe           588
            Double           588
            Kettle           588
            Kitchen          588
            Single           588
            Utensils         588
            Water            588
dtype: int64
==================================================
Product.2  Order     method
Aloe       Relief    E-mail        63
                     Fax           63
                     Mail          63
                     Sales         63
                     Special       63
                                 ...
TrailChef  Utensils  Sales         84
                     Special       84
                     Telephone     84
                     Web           84
           Water     Bag          588
Length: 265, dtype: int64
==================================================
Product.2  Order   method  type.1
Aloe       Relief  E-mail  Australia     3
                           Austria       3
                           Belgium       3
                           Brazil        3
                           Canada        3
                                        ..
TrailChef  Water   Bag     Mail         84
                           Sales        84
                           Special      84
                           Telephone    84
                           Web          84
Length: 2435, dtype: int64
==================================================
Product.2  Order   method  Retailer
Aloe       Relief  E-mail  245.81          1
                           287.65          1
                           481.16          1
                           1521.93         1
                           1746.82         1
                                          ..
TrailChef  Water   Bag     Spain          24
                           Sweden         24
                           Switzerland    24
                           United         48
                           visit          84
Length: 3075, dtype: int64

In [10]:
#8.2
'''
將Product欄位切成p1、p2、p3、...來處理
'''
purchase_type = ['E-mail','Fax','Mail','Sales','Special','Telephone','Web']
p1 = df[df['Order'].isin(purchase_type)].copy(deep=True) #Product名稱佔1個欄位的
p2 = df[df['method'].isin(purchase_type)].copy(deep=True)
p3 = df[df['type.1'].isin(purchase_type)].copy(deep=True)
p4 = df[df['Retailer'].isin(purchase_type)].copy(deep=True)
p5 = df[df['country'].isin(purchase_type)].copy(deep=True)
p6 = df[df['Revenue'].isin(purchase_type)].copy(deep=True)
'''經過測試確認Product名稱總共橫跨1-6個欄位'''
p7 = df[df['Planned'].isin(purchase_type)].copy(deep=True) #空的
print(len(p1)+len(p2)+len(p3)+len(p4)+len(p5)+len(p6))

18228

In [11]:
#8.3 
'''處理p1的欄位合併'''
p1['Product'] = p1['Product.2']
'''處理p2的欄位合併'''
p2['Product'] = p2['Product.2'] + ' ' + p2['Order']
'''處理p3的欄位合併'''
p3['Product'] = p3['Product.2'] + ' ' + p3['Order'] + ' ' + p3['method']
'''處理p4的欄位合併'''
p4['Product'] = p4['Product.2'] + ' ' + p4['Order'] + ' ' + p4['method'] + ' ' + p4['type.1']
'''處理p5的欄位合併'''
p5['Product'] = str(p5['Product.2']) + ' ' + str(p5['Order']) + ' ' + str(p5['method']) + ' ' + str(p5['type.1']) + ' ' + str(p5['Retailer'])
'''處理p6的欄位合併'''
p6['Product'] = p6['Product.2'] + ' ' + p6['Order'] + ' ' + p6['method'] + ' ' + p6['type.1'] + ' ' + p6['Retailer'] + ' ' + p6['country']
'''將值指定回df'''
df = pd.concat([p1,p2,p3,p4,p5,p6])
print(df.groupby('Product type').size())
print('='*50)
df

Product type
Climbing Accessories    3087
Cooking Gear            5880
First Aid               2205
Golf Accessories        1764
Insect Repellents       2205
Sleeping Bags           3087
dtype: int64
==================================================

,Year,Product.2,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,...,Unit.1,price,Gross,profit,Unit.2,sale,price.1,Product line,Product type,Product
2499,2004,Hibernator,Telephone,United,States,968870.75,1130591,662200,7700,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator
2500,2004,Hibernator,Telephone,Canada,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator
2501,2004,Hibernator,Telephone,Mexico,26627.25,28631.85,16770,195,86,146.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator
2502,2004,Hibernator,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator
2503,2004,Hibernator,Telephone,Japan,624588.8,720054.32,421744,4904,86,146.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59971,2006,Course,Pro,Golf,and,Tee,Set,Fax,Belgium,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set
59972,2006,Course,Pro,Golf,and,Tee,Set,Fax,Switzerland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set
59973,2006,Course,Pro,Golf,and,Tee,Set,Fax,Austria,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set
59974,2006,Course,Pro,Golf,and,Tee,Set,Fax,Italy,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set
59975,2006,Course,Pro,Golf,and,Tee,Set,Fax,Spain,10304.84,...,7538.44,10.43,NaN,NaN,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set

In [12]:
#9.1
'''接續之前的p1~p6繼續處理'''
purchase_type = ['E-mail','Fax','Mail','Sales','Special','Telephone','Web']
p1_r1 = p1[p1['Order']!= 'Sales'].copy(deep=True)
p1_r2 = p1[p1['method'] == 'visit'].copy(deep=True)
p2_r1 = p2[p2['method']!= 'Sales'].copy(deep=True)
p2_r2 = p2[p2["type.1"]=='visit'].copy(deep=True)
p3_r1 = p3[p3['type.1'] != 'Sales'].copy(deep=True)
p3_r2 = p3[p3['Retailer'] == 'visit'].copy(deep=True)
p4_r1 = p4[p4['Retailer'] != 'Sales'].copy(deep=True)
p4_r2 = p4[p4['country'] == 'visit'].copy(deep=True)
p5_r1 = p5[p5['country'] != 'Sales'].copy(deep=True)
p5_r2 = p5[p5['Revenue'] == 'visit'].copy(deep=True)
p6_r1 = p6[p6['Revenue'] != 'Sales'].copy(deep=True)
p6_r2 = p6[p6['Planned'] == 'visit'].copy(deep=True)

In [13]:
#9.2
'''產生對的Order method type.1並接起來'''
p1_r1['Order method type'] = p1_r1['Order']
p1_r2['Order method type'] = p1_r2['Order'] + ' ' +  p1_r2['method']
p2_r1['Order method type'] = p2_r1['method']
p2_r2['Order method type'] = p2_r2['method'] + ' ' +  p2_r2['type.1']
p3_r1['Order method type'] = p3_r1['type.1']
p3_r2['Order method type'] = p3_r2['type.1'] + ' ' +  p3_r2['Retailer']
p4_r1['Order method type'] = p4_r1['Retailer']
p4_r2['Order method type'] = p4_r2['Retailer'] + ' ' +  p4_r2['country']
p5_r1['Order method type'] = p5_r1['country']
p5_r2['Order method type'] = p5_r2['country'] + ' ' +  p5_r2['Revenue']
p6_r1['Order method type'] = p6_r1['Revenue']
p6_r2['Order method type'] = p6_r2['Revenue'] + ' ' +  p6_r2['Planned']
p1_new = pd.concat([p1_r1,p1_r2,p2_r1,p2_r2,p3_r1,p3_r2,p4_r1,p4_r2,p5_r1,p5_r2,p6_r1,p6_r2])
print(p1_new.groupby('Order method type').size())
df = p1_new
df

Order method type
E-mail         2604
Fax            2604
Mail           2604
Sales visit    2604
Special        2604
Telephone      2604
Web            2604
dtype: int64

,Year,Product.2,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,...,price,Gross,profit,Unit.2,sale,price.1,Product line,Product type,Product,Order method type
2499,2004,Hibernator,Telephone,United,States,968870.75,1130591,662200,7700,86,...,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone
2500,2004,Hibernator,Telephone,Canada,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone
2501,2004,Hibernator,Telephone,Mexico,26627.25,28631.85,16770,195,86,146.83,...,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone
2502,2004,Hibernator,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone
2503,2004,Hibernator,Telephone,Japan,624588.8,720054.32,421744,4904,86,146.83,...,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59866,2006,Course,Pro,Golf,and,Tee,Set,Sales,visit,Belgium,...,NaN,NaN,NaN,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit
59867,2006,Course,Pro,Golf,and,Tee,Set,Sales,visit,Switzerland,...,20398.98,5.816667,NaN,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit
59868,2006,Course,Pro,Golf,and,Tee,Set,Sales,visit,Austria,...,-112.00,0.000000,NaN,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit
59869,2006,Course,Pro,Golf,and,Tee,Set,Sales,visit,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit
59870,2006,Course,Pro,Golf,and,Tee,Set,Sales,visit,Spain,...,NaN,NaN,NaN,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit

In [14]:
print(p2.groupby('Order').size())
print('='*55)
print(p2.groupby('method').size())
print('='*55)
print(p2.groupby('type.1').size())

p2[p2["type.1"]=='visit']

Order
Belay        441
Canteen      588
Carabiner    441
Charger      441
Cup          588
Extreme      882
Kettle       588
Lite         441
Lotion       441
Natural      441
Pad          441
Pillow       441
Pulley       441
Relief       882
Spray        441
Utensils     588
dtype: int64
=======================================================
method
E-mail       1218
Fax          1218
Mail         1218
Sales        1218
Special      1218
Telephone    1218
Web          1218
dtype: int64
=======================================================
type.1
Australia       348
Austria         348
Belgium         348
Brazil          348
Canada          348
China           348
Denmark         348
Finland         348
France          348
Germany         348
Italy           348
Japan           348
Korea           348
Mexico          348
Netherlands     348
Singapore       348
Spain           348
Sweden          348
Switzerland     348
United          696
visit          1218
dtype: int64

,Year,Product.2,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,...,Unit.1,price,Gross,profit,Unit.2,sale,price.1,Product line,Product type,Product
168,2004,TrailChef,Canteen,Sales,visit,United,States,58425.59,66045.63,34894.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear,TrailChef Canteen
169,2004,TrailChef,Canteen,Sales,visit,Canada,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear,TrailChef Canteen
170,2004,TrailChef,Canteen,Sales,visit,Mexico,54227.67,58853.41,31094.14,4697,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear,TrailChef Canteen
171,2004,TrailChef,Canteen,Sales,visit,Brazil,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear,TrailChef Canteen
172,2004,TrailChef,Canteen,Sales,visit,Japan,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear,TrailChef Canteen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64864,2007,TrailChef,Utensils,Sales,visit,Belgium,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear,TrailChef Utensils
64865,2007,TrailChef,Utensils,Sales,visit,Switzerland,5401.2,5401.2,2800,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear,TrailChef Utensils
64866,2007,TrailChef,Utensils,Sales,visit,Austria,25438.36,33429.57,13936.8,1733,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear,TrailChef Utensils
64867,2007,TrailChef,Utensils,Sales,visit,Italy,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear,TrailChef Utensils
64868,2007,TrailChef,Utensils,Sales,visit,Spain,56636.59,58776.63,30470,3047,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Cooking Gear,TrailChef Utensils

In [15]:
#10.1
'''接續之前的p1_r1~p6_r2繼續處理'''
col = ["method","type.1","Retailer","country","Revenue","Planned"]
p1_r1_c1 = p1_r1[p1_r1['method'] != 'United'].copy(deep=True)
p1_r1_c2 = p1_r1[p1_r1['method'] == 'United'].copy(deep=True)
p1_r2_c1 = p1_r2[p1_r2['type.1'] != 'United'].copy(deep=True)
p1_r2_c2 = p1_r2[p1_r2['type.1'] == 'United'].copy(deep=True)
#############################################################
p2_r1_c1 = p2_r1[p2_r1['type.1'] != 'United'].copy(deep=True)
p2_r1_c2 = p2_r1[p2_r1['type.1'] == 'United'].copy(deep=True)
p2_r2_c1 = p2_r2[p2_r2['Retailer'] != 'United'].copy(deep=True)
p2_r2_c2 = p2_r2[p2_r2['Retailer'] == 'United'].copy(deep=True)
#############################################################
p3_r1_c1 = p3_r1[p3_r1['Retailer'] != 'United'].copy(deep=True)
p3_r1_c2 = p3_r1[p3_r1['Retailer'] == 'United'].copy(deep=True)
p3_r2_c1 = p3_r2[p3_r2['country'] != 'United'].copy(deep=True)
p3_r2_c2 = p3_r2[p3_r2['country'] == 'United'].copy(deep=True)
#############################################################
p4_r1_c1 = p4_r1[p4_r1['country'] != 'United'].copy(deep=True)
p4_r1_c2 = p4_r1[p4_r1['country'] == 'United'].copy(deep=True)
p4_r2_c1 = p4_r2[p4_r2['Revenue'] != 'United'].copy(deep=True)
p4_r2_c2 = p4_r2[p4_r2['Revenue'] == 'United'].copy(deep=True)
#############################################################
p5_r1_c1 = p5_r1[p5_r1['Revenue'] != 'United'].copy(deep=True)
p5_r1_c2 = p5_r1[p5_r1['Revenue'] == 'United'].copy(deep=True)
p5_r2_c1 = p5_r2[p5_r2['Planned'] != 'United'].copy(deep=True)
p5_r2_c2 = p5_r2[p5_r2['Planned'] == 'United'].copy(deep=True)
#############################################################
p6_r1_c1 = p6_r1[p6_r1['Planned'] != 'United'].copy(deep=True)
p6_r1_c2 = p6_r1[p6_r1['Planned'] == 'United'].copy(deep=True)
p6_r2_c1 = p6_r2[p6_r2['revenue'] != 'United'].copy(deep=True)
p6_r2_c2 = p6_r2[p6_r2['revenue'] == 'United'].copy(deep=True)
#############################################################

In [16]:
p1[p1['Order']!= 'Sales']

,Year,Product.2,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,...,Unit.1,price,Gross,profit,Unit.2,sale,price.1,Product line,Product type,Product
2499,2004,Hibernator,Telephone,United,States,968870.75,1130591,662200,7700,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator
2500,2004,Hibernator,Telephone,Canada,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator
2501,2004,Hibernator,Telephone,Mexico,26627.25,28631.85,16770,195,86,146.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator
2502,2004,Hibernator,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator
2503,2004,Hibernator,Telephone,Japan,624588.8,720054.32,421744,4904,86,146.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44977,2006,Hibernator,Fax,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator
44978,2006,Hibernator,Fax,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator
44979,2006,Hibernator,Fax,Austria,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator
44980,2006,Hibernator,Fax,Italy,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator
44981,2006,Hibernator,Fax,Spain,74348.17,78260.39,45838,533,86,146.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator

In [17]:
#10.2
p1_r1_c1["Retailer Country"] = p1_r1_c1["method"]
p1_r1_c2["Retailer Country"] = p1_r1_c2["method"] + ' ' + p1_r1_c2["type.1"]
p1_r2_c1["Retailer Country"] = p1_r2_c1["type.1"]
p1_r2_c2["Retailer Country"] = p1_r2_c2["type.1"] + ' ' + p1_r2_c2["Retailer"]
#############################################################
p2_r1_c1["Retailer Country"] = p2_r1_c1["type.1"]
p2_r1_c2["Retailer Country"] = p2_r1_c2["type.1"] + ' ' + p2_r1_c2["Retailer"]
p2_r2_c1["Retailer Country"] = p2_r2_c1["Retailer"]
p2_r2_c2["Retailer Country"] = p2_r2_c2["Retailer"] + ' ' + p2_r2_c2["country"]
#############################################################
p3_r1_c1["Retailer Country"] = p3_r1_c1["Retailer"]
p3_r1_c2["Retailer Country"] = p3_r1_c2["Retailer"] + ' ' + p3_r1_c2["country"]
p3_r2_c1["Retailer Country"] = p3_r2_c1["country"]
p3_r2_c2["Retailer Country"] = p3_r2_c2["country"] + ' ' + p3_r2_c2["Revenue"]
#############################################################
p4_r1_c1["Retailer Country"] = p4_r1_c1["country"]
p4_r1_c2["Retailer Country"] = p4_r1_c2["country"] + ' ' + p4_r1_c2["Revenue"]
p4_r2_c1["Retailer Country"] = p4_r2_c1["Revenue"]
p4_r2_c2["Retailer Country"] = p4_r2_c2["Revenue"] + ' ' + p4_r2_c2["Planned"]
#############################################################
p5_r1_c1["Retailer Country"] = p5_r1_c1["Revenue"]
p5_r1_c2["Retailer Country"] = p5_r1_c2["Revenue"] + ' ' + p5_r1_c2["Planned"]
p5_r2_c1["Retailer Country"] = p5_r2_c1["Planned"]
p5_r2_c2["Retailer Country"] = p5_r2_c2["Planned"] + ' ' + p5_r2_c2["revenue"]
#############################################################
p6_r1_c1["Retailer Country"] = p6_r1_c1["Planned"]
p6_r1_c2["Retailer Country"] = p6_r1_c2["Planned"] + ' ' + p6_r1_c2["revenue"]
p6_r2_c1["Retailer Country"] = p6_r2_c1["revenue"]
p6_r2_c2["Retailer Country"] = p6_r2_c2["revenue"] + ' ' + p6_r2_c2["Product.3"]
#############################################################


p8_new = pd.concat([p1_r1_c1,p1_r1_c2,p1_r2_c1,p1_r2_c2,
                    p2_r1_c1,p2_r1_c2,p2_r2_c1,p2_r2_c2,
                    p3_r1_c1,p3_r1_c2,p3_r2_c1,p3_r2_c2,
                    p4_r1_c1,p4_r1_c2,p4_r2_c1,p4_r2_c2,
                    p5_r1_c1,p5_r1_c2,p5_r2_c1,p5_r2_c2,
                    p6_r1_c1,p6_r1_c2,p6_r2_c1,p6_r2_c2,])

#覆蓋原有的df，處理完RRetailer Country
df = p8_new
df

,Year,Product.2,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,...,Gross,profit,Unit.2,sale,price.1,Product line,Product type,Product,Order method type,Retailer Country
2500,2004,Hibernator,Telephone,Canada,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Canada
2501,2004,Hibernator,Telephone,Mexico,26627.25,28631.85,16770,195,86,146.83,...,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Mexico
2502,2004,Hibernator,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Brazil
2503,2004,Hibernator,Telephone,Japan,624588.8,720054.32,421744,4904,86,146.83,...,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Japan
2504,2004,Hibernator,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Korea
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17529,2004,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,NaN,NaN,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom
38682,2005,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,7913.88,10.21,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States
38697,2005,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,20394.24,10.32,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom
59850,2006,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,NaN,NaN,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States
59865,2006,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,6401.57,10.43,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom

In [18]:
#11.1 
#處理剩下的欄位 -- Revenue
p1_r1_c1["Revenue.111"] = p1_r1_c1["type.1"]
p1_r1_c2["Revenue.111"] = p1_r1_c2["Retailer"]
p1_r2_c1["Revenue.111"] = p1_r2_c1["Retailer"]
p1_r2_c2["Revenue.111"] = p1_r2_c2['country']
#############################################################
p2_r1_c1["Revenue.111"] = p2_r1_c1["Retailer"]
p2_r1_c2["Revenue.111"] = p2_r1_c2["country"]
p2_r2_c1["Revenue.111"] = p2_r2_c1["country"]
p2_r2_c2["Revenue.111"] = p2_r2_c2["Revenue"]
#############################################################
p3_r1_c1["Revenue.111"] = p3_r1_c1["country"]
p3_r1_c2["Revenue.111"] = p3_r1_c2["Revenue"]
p3_r2_c1["Revenue.111"] = p3_r2_c1["Revenue"]
p3_r2_c2["Revenue.111"] = p3_r2_c2["Planned"]
#############################################################
p4_r1_c1["Revenue.111"] = p4_r1_c1["Revenue"]
p4_r1_c2["Revenue.111"] = p4_r1_c2["Planned"]
p4_r2_c1["Revenue.111"] = p4_r2_c1["Planned"]
p4_r2_c2["Revenue.111"] = p4_r2_c2["revenue"]
#############################################################
p5_r1_c1["Revenue.111"] = p5_r1_c1["Planned"]
p5_r1_c2["Revenue.111"] = p5_r1_c2["revenue"]
p5_r2_c1["Revenue.111"] = p5_r2_c1["revenue"]
p5_r2_c2["Revenue.111"] = p5_r2_c2["Product.3"]
#############################################################
p6_r1_c1["Revenue.111"] = p6_r1_c1["revenue"]
p6_r1_c2["Revenue.111"] = p6_r1_c2["Product.3"]
p6_r2_c1["Revenue.111"] = p6_r2_c1["Product.3"]
p6_r2_c2["Revenue.111"] = p6_r2_c2["cost"]
#############################################################

In [19]:
p10_new = pd.concat([p1_r1_c1,p1_r1_c2,p1_r2_c1,p1_r2_c2,
                    p2_r1_c1,p2_r1_c2,p2_r2_c1,p2_r2_c2,
                    p3_r1_c1,p3_r1_c2,p3_r2_c1,p3_r2_c2,
                    p4_r1_c1,p4_r1_c2,p4_r2_c1,p4_r2_c2,
                    p5_r1_c1,p5_r1_c2,p5_r2_c1,p5_r2_c2,
                    p6_r1_c1,p6_r1_c2,p6_r2_c1,p6_r2_c2,])
p10_new

,Year,Product.2,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,...,profit,Unit.2,sale,price.1,Product line,Product type,Product,Order method type,Retailer Country,Revenue.111
2500,2004,Hibernator,Telephone,Canada,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Canada,NaN
2501,2004,Hibernator,Telephone,Mexico,26627.25,28631.85,16770,195,86,146.83,...,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Mexico,26627.25
2502,2004,Hibernator,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Brazil,NaN
2503,2004,Hibernator,Telephone,Japan,624588.8,720054.32,421744,4904,86,146.83,...,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Japan,624588.8
2504,2004,Hibernator,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Korea,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17529,2004,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,NaN,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,NaN
38682,2005,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,10.21,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,10904.28
38697,2005,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,10.32,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,27987.84
59850,2006,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,NaN,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,NaN
59865,2006,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,10.43,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,8750.77

In [20]:
#11.2
#處理剩下的欄位 -- Planned revenue
p1_r1_c1["Planned revenue"] = p1_r1_c1["Retailer"]
p1_r1_c2["Planned revenue"] = p1_r1_c2["country"]
p1_r2_c1["Planned revenue"] = p1_r2_c1["country"]
p1_r2_c2["Planned revenue"] = p1_r2_c2['Revenue']
#############################################################
p2_r1_c1["Planned revenue"] = p2_r1_c1["country"]
p2_r1_c2["Planned revenue"] = p2_r1_c2["Revenue"]
p2_r2_c1["Planned revenue"] = p2_r2_c1["Revenue"]
p2_r2_c2["Planned revenue"] = p2_r2_c2["Planned"]
#############################################################
p3_r1_c1["Planned revenue"] = p3_r1_c1["Revenue"]
p3_r1_c2["Planned revenue"] = p3_r1_c2["Planned"]
p3_r2_c1["Planned revenue"] = p3_r2_c1["Planned"]
p3_r2_c2["Planned revenue"] = p3_r2_c2["revenue"]
#############################################################
p4_r1_c1["Planned revenue"] = p4_r1_c1["Planned"]
p4_r1_c2["Planned revenue"] = p4_r1_c2["revenue"]
p4_r2_c1["Planned revenue"] = p4_r2_c1["revenue"]
p4_r2_c2["Planned revenue"] = p4_r2_c2["Product.3"]
#############################################################
p5_r1_c1["Planned revenue"] = p5_r1_c1["revenue"]
p5_r1_c2["Planned revenue"] = p5_r1_c2["Product.3"]
p5_r2_c1["Planned revenue"] = p5_r2_c1["Product.3"]
p5_r2_c2["Planned revenue"] = p5_r2_c2["cost"]
#############################################################
p6_r1_c1["Planned revenue"] = p6_r1_c1["Product.3"]
p6_r1_c2["Planned revenue"] = p6_r1_c2["cost"]
p6_r2_c1["Planned revenue"] = p6_r2_c1["cost"]
p6_r2_c2["Planned revenue"] = p6_r2_c2["Quantity"]
#############################################################

In [21]:
p10_new = pd.concat([p1_r1_c1,p1_r1_c2,p1_r2_c1,p1_r2_c2,
                    p2_r1_c1,p2_r1_c2,p2_r2_c1,p2_r2_c2,
                    p3_r1_c1,p3_r1_c2,p3_r2_c1,p3_r2_c2,
                    p4_r1_c1,p4_r1_c2,p4_r2_c1,p4_r2_c2,
                    p5_r1_c1,p5_r1_c2,p5_r2_c1,p5_r2_c2,
                    p6_r1_c1,p6_r1_c2,p6_r2_c1,p6_r2_c2,])
p10_new

,Year,Product.2,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,...,Unit.2,sale,price.1,Product line,Product type,Product,Order method type,Retailer Country,Revenue.111,Planned revenue
2500,2004,Hibernator,Telephone,Canada,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Canada,NaN,NaN
2501,2004,Hibernator,Telephone,Mexico,26627.25,28631.85,16770,195,86,146.83,...,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Mexico,26627.25,28631.85
2502,2004,Hibernator,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Brazil,NaN,NaN
2503,2004,Hibernator,Telephone,Japan,624588.8,720054.32,421744,4904,86,146.83,...,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Japan,624588.8,720054.32
2504,2004,Hibernator,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Korea,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17529,2004,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,NaN,NaN
38682,2005,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,10904.28,11363.52
38697,2005,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,27987.84,28855.68
59850,2006,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,NaN,NaN
59865,2006,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,NaN,NaN,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,8750.77,8926.96

In [22]:
#11.3
#處理剩下的欄位 -- Product cost
p1_r1_c1["Product cost"] = p1_r1_c1["country"]
p1_r1_c2["Product cost"] = p1_r1_c2["Revenue"]
p1_r2_c1["Product cost"] = p1_r2_c1["Revenue"]
p1_r2_c2["Product cost"] = p1_r2_c2['Planned']
#############################################################
p2_r1_c1["Product cost"] = p2_r1_c1["Revenue"]
p2_r1_c2["Product cost"] = p2_r1_c2["Planned"]
p2_r2_c1["Product cost"] = p2_r2_c1["Planned"]
p2_r2_c2["Product cost"] = p2_r2_c2["revenue"]
#############################################################
p3_r1_c1["Product cost"] = p3_r1_c1["Planned"]
p3_r1_c2["Product cost"] = p3_r1_c2["revenue"]
p3_r2_c1["Product cost"] = p3_r2_c1["revenue"]
p3_r2_c2["Product cost"] = p3_r2_c2["Product.3"]
#############################################################
p4_r1_c1["Product cost"] = p4_r1_c1["revenue"]
p4_r1_c2["Product cost"] = p4_r1_c2["Product.3"]
p4_r2_c1["Product cost"] = p4_r2_c1["Product.3"]
p4_r2_c2["Product cost"] = p4_r2_c2["cost"]
#############################################################
p5_r1_c1["Product cost"] = p5_r1_c1["Product.3"]
p5_r1_c2["Product cost"] = p5_r1_c2["cost"]
p5_r2_c1["Product cost"] = p5_r2_c1["cost"]
p5_r2_c2["Product cost"] = p5_r2_c2["Quantity"]
#############################################################
p6_r1_c1["Product cost"] = p6_r1_c1["cost"]
p6_r1_c2["Product cost"] = p6_r1_c2["Quantity"]
p6_r2_c1["Product cost"] = p6_r2_c1["Quantity"]
p6_r2_c2["Product cost"] = p6_r2_c2["Unit"]
#############################################################

In [23]:
#11.4
#處理剩下的欄位 -- Quantity
p1_r1_c1["Quantity.111"] = p1_r1_c1["Revenue"]
p1_r1_c2["Quantity.111"] = p1_r1_c2["Planned"]
p1_r2_c1["Quantity.111"] = p1_r2_c1["Planned"]
p1_r2_c2["Quantity.111"] = p1_r2_c2['revenue']
#############################################################
p2_r1_c1["Quantity.111"] = p2_r1_c1["Planned"]
p2_r1_c2["Quantity.111"] = p2_r1_c2["revenue"]
p2_r2_c1["Quantity.111"] = p2_r2_c1["revenue"]
p2_r2_c2["Quantity.111"] = p2_r2_c2["Product.3"]
#############################################################
p3_r1_c1["Quantity.111"] = p3_r1_c1["revenue"]
p3_r1_c2["Quantity.111"] = p3_r1_c2["Product.3"]
p3_r2_c1["Quantity.111"] = p3_r2_c1["Product.3"]
p3_r2_c2["Quantity.111"] = p3_r2_c2["cost"]
#############################################################
p4_r1_c1["Quantity.111"] = p4_r1_c1["Product.3"]
p4_r1_c2["Quantity.111"] = p4_r1_c2["cost"]
p4_r2_c1["Quantity.111"] = p4_r2_c1["cost"]
p4_r2_c2["Quantity.111"] = p4_r2_c2["Quantity"]
#############################################################
p5_r1_c1["Quantity.111"] = p5_r1_c1["cost"]
p5_r1_c2["Quantity.111"] = p5_r1_c2["Quantity"]
p5_r2_c1["Quantity.111"] = p5_r2_c1["Quantity"]
p5_r2_c2["Quantity.111"] = p5_r2_c2["Unit"]
#############################################################
p6_r1_c1["Quantity.111"] = p6_r1_c1["Quantity"]
p6_r1_c2["Quantity.111"] = p6_r1_c2["Unit"]
p6_r2_c1["Quantity.111"] = p6_r2_c1["Unit"]
p6_r2_c2["Quantity.111"] = p6_r2_c2["cost.1"]
#############################################################

In [24]:
p10_new = pd.concat([p1_r1_c1,p1_r1_c2,p1_r2_c1,p1_r2_c2,
                    p2_r1_c1,p2_r1_c2,p2_r2_c1,p2_r2_c2,
                    p3_r1_c1,p3_r1_c2,p3_r2_c1,p3_r2_c2,
                    p4_r1_c1,p4_r1_c2,p4_r2_c1,p4_r2_c2,
                    p5_r1_c1,p5_r1_c2,p5_r2_c1,p5_r2_c2,
                    p6_r1_c1,p6_r1_c2,p6_r2_c1,p6_r2_c2,])
p10_new

,Year,Product.2,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,...,price.1,Product line,Product type,Product,Order method type,Retailer Country,Revenue.111,Planned revenue,Product cost,Quantity.111
2500,2004,Hibernator,Telephone,Canada,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Canada,NaN,NaN,NaN,NaN
2501,2004,Hibernator,Telephone,Mexico,26627.25,28631.85,16770,195,86,146.83,...,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Mexico,26627.25,28631.85,16770,195
2502,2004,Hibernator,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Brazil,NaN,NaN,NaN,NaN
2503,2004,Hibernator,Telephone,Japan,624588.8,720054.32,421744,4904,86,146.83,...,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Japan,624588.8,720054.32,421744,4904
2504,2004,Hibernator,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Korea,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17529,2004,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,NaN,NaN,NaN,NaN
38682,2005,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,10904.28,11363.52,2990.4,1068.0
38697,2005,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,27987.84,28855.68,7593.6,2712.0
59850,2006,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,NaN,NaN,NaN,NaN
59865,2006,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,NaN,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,8750.77,8926.96,2349.2,839.0

In [25]:
p10_new.groupby('Product type').count()

,Year,Product.2,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,...,sale,price.1,Product line,Product,Order method type,Retailer Country,Revenue.111,Planned revenue,Product cost,Quantity.111
Product type,,,,,,,,,,,,,,,,,,,,,
Climbing Accessories,3087,3087,3087,3087,3087,1992,926,736,729,729,...,0,0,3087,3087,3087,3087,729,729,729,729
Cooking Gear,5880,5880,5880,5880,5880,4632,2801,2140,2061,2059,...,0,0,5880,5880,5880,5880,2059,2059,2059,2059
First Aid,2205,2205,2205,2205,2205,1754,1208,873,815,812,...,0,0,2205,2205,2205,2205,812,812,812,812
Golf Accessories,1764,1764,1764,1764,1764,1764,1306,965,902,677,...,0,0,1764,1764,1764,1764,619,619,619,619
Insect Repellents,2205,2205,2205,2205,2205,1304,860,798,795,795,...,0,0,2205,2205,2205,2205,795,795,795,795
Sleeping Bags,3087,3087,3087,3087,2867,1918,1504,1455,1235,1190,...,0,0,3087,3087,3087,3087,1189,1189,1189,1189

In [26]:
#11.5
#處理剩下的欄位 -- Unit cost
p1_r1_c1["Unit cost"] = p1_r1_c1["Planned"]
p1_r1_c2["Unit cost"] = p1_r1_c2["revenue"]
p1_r2_c1["Unit cost"] = p1_r2_c1["revenue"]
p1_r2_c2["Unit cost"] = p1_r2_c2['Product.3']
#############################################################
p2_r1_c1["Unit cost"] = p2_r1_c1["revenue"]
p2_r1_c2["Unit cost"] = p2_r1_c2["Product.3"]
p2_r2_c1["Unit cost"] = p2_r2_c1["Product.3"]
p2_r2_c2["Unit cost"] = p2_r2_c2["cost"]
#############################################################
p3_r1_c1["Unit cost"] = p3_r1_c1["Product.3"]
p3_r1_c2["Unit cost"] = p3_r1_c2["cost"]
p3_r2_c1["Unit cost"] = p3_r2_c1["cost"]
p3_r2_c2["Unit cost"] = p3_r2_c2["Quantity"]
#############################################################
p4_r1_c1["Unit cost"] = p4_r1_c1["cost"]
p4_r1_c2["Unit cost"] = p4_r1_c2["Quantity"]
p4_r2_c1["Unit cost"] = p4_r2_c1["Quantity"]
p4_r2_c2["Unit cost"] = p4_r2_c2["Unit"]
#############################################################
p5_r1_c1["Unit cost"] = p5_r1_c1["Quantity"]
p5_r1_c2["Unit cost"] = p5_r1_c2["Unit"]
p5_r2_c1["Unit cost"] = p5_r2_c1["Unit"]
p5_r2_c2["Unit cost"] = p5_r2_c2["cost.1"]
#############################################################
p6_r1_c1["Unit cost"] = p6_r1_c1["Unit"]
p6_r1_c2["Unit cost"] = p6_r1_c2["cost.1"]
p6_r2_c1["Unit cost"] = p6_r2_c1["cost.1"]
p6_r2_c2["Unit cost"] = p6_r2_c2["Unit.1"]
#############################################################

In [27]:
#11.6
#處理剩下的欄位 -- Unit price
p1_r1_c1["Unit price"] = p1_r1_c1["revenue"]
p1_r1_c2["Unit price"] = p1_r1_c2["Product.3"]
p1_r2_c1["Unit price"] = p1_r2_c1["Product.3"]
p1_r2_c2["Unit price"] = p1_r2_c2['cost']
#############################################################
p2_r1_c1["Unit price"] = p2_r1_c1["Product.3"]
p2_r1_c2["Unit price"] = p2_r1_c2["cost"]
p2_r2_c1["Unit price"] = p2_r2_c1["cost"]
p2_r2_c2["Unit price"] = p2_r2_c2["Quantity"]
#############################################################
p3_r1_c1["Unit price"] = p3_r1_c1["cost"]
p3_r1_c2["Unit price"] = p3_r1_c2["Quantity"]
p3_r2_c1["Unit price"] = p3_r2_c1["Quantity"]
p3_r2_c2["Unit price"] = p3_r2_c2["Unit"]
#############################################################
p4_r1_c1["Unit price"] = p4_r1_c1["Quantity"]
p4_r1_c2["Unit price"] = p4_r1_c2["Unit"]
p4_r2_c1["Unit price"] = p4_r2_c1["Unit"]
p4_r2_c2["Unit price"] = p4_r2_c2["cost.1"]
#############################################################
p5_r1_c1["Unit price"] = p5_r1_c1["Unit"]
p5_r1_c2["Unit price"] = p5_r1_c2["cost.1"]
p5_r2_c1["Unit price"] = p5_r2_c1["cost.1"]
p5_r2_c2["Unit price"] = p5_r2_c2["Unit.1"]
#############################################################
p6_r1_c1["Unit price"] = p6_r1_c1["cost.1"]
p6_r1_c2["Unit price"] = p6_r1_c2["Unit.1"]
p6_r2_c1["Unit price"] = p6_r2_c1["Unit.1"]
p6_r2_c2["Unit price"] = p6_r2_c2["price"]
#############################################################

In [28]:
#11.7
#處理剩下的欄位 -- Gross profit
p1_r1_c1["Gross profit"] = p1_r1_c1["Product.3"]
p1_r1_c2["Gross profit"] = p1_r1_c2["cost"]
p1_r2_c1["Gross profit"] = p1_r2_c1["cost"]
p1_r2_c2["Gross profit"] = p1_r2_c2['Quantity']
#############################################################
p2_r1_c1["Gross profit"] = p2_r1_c1["cost"]
p2_r1_c2["Gross profit"] = p2_r1_c2["Quantity"]
p2_r2_c1["Gross profit"] = p2_r2_c1["Quantity"]
p2_r2_c2["Gross profit"] = p2_r2_c2["Unit"]
#############################################################
p3_r1_c1["Gross profit"] = p3_r1_c1["Quantity"]
p3_r1_c2["Gross profit"] = p3_r1_c2["Unit"]
p3_r2_c1["Gross profit"] = p3_r2_c1["Unit"]
p3_r2_c2["Gross profit"] = p3_r2_c2["cost.1"]
#############################################################
p4_r1_c1["Gross profit"] = p4_r1_c1["Unit"]
p4_r1_c2["Gross profit"] = p4_r1_c2["cost.1"]
p4_r2_c1["Gross profit"] = p4_r2_c1["cost.1"]
p4_r2_c2["Gross profit"] = p4_r2_c2["Unit.1"]
#############################################################
p5_r1_c1["Gross profit"] = p5_r1_c1["cost.1"]
p5_r1_c2["Gross profit"] = p5_r1_c2["Unit.1"]
p5_r2_c1["Gross profit"] = p5_r2_c1["Unit.1"]
p5_r2_c2["Gross profit"] = p5_r2_c2["price"]
#############################################################
p6_r1_c1["Gross profit"] = p6_r1_c1["Unit.1"]
p6_r1_c2["Gross profit"] = p6_r1_c2["price"]
p6_r2_c1["Gross profit"] = p6_r2_c1["price"]
p6_r2_c2["Gross profit"] = p6_r2_c2["Gross"]
#############################################################

In [29]:
#11.8
#處理剩下的欄位 -- Unit sale price
p1_r1_c1["Unit sale price"] = p1_r1_c1["cost"]
p1_r1_c2["Unit sale price"] = p1_r1_c2["Quantity"]
p1_r2_c1["Unit sale price"] = p1_r2_c1["Quantity"]
p1_r2_c2["Unit sale price"] = p1_r2_c2['Unit']
#############################################################
p2_r1_c1["Unit sale price"] = p2_r1_c1["Quantity"]
p2_r1_c2["Unit sale price"] = p2_r1_c2["Unit"]
p2_r2_c1["Unit sale price"] = p2_r2_c1["Unit"]
p2_r2_c2["Unit sale price"] = p2_r2_c2["cost.1"]
#############################################################
p3_r1_c1["Unit sale price"] = p3_r1_c1["Unit"]
p3_r1_c2["Unit sale price"] = p3_r1_c2["cost.1"]
p3_r2_c1["Unit sale price"] = p3_r2_c1["cost.1"]
p3_r2_c2["Unit sale price"] = p3_r2_c2["Unit.1"]
#############################################################
p4_r1_c1["Unit sale price"] = p4_r1_c1["cost.1"]
p4_r1_c2["Unit sale price"] = p4_r1_c2["Unit.1"]
p4_r2_c1["Unit sale price"] = p4_r2_c1["Unit.1"]
p4_r2_c2["Unit sale price"] = p4_r2_c2["price"]
#############################################################
p5_r1_c1["Unit sale price"] = p5_r1_c1["Unit.1"]
p5_r1_c2["Unit sale price"] = p5_r1_c2["price"]
p5_r2_c1["Unit sale price"] = p5_r2_c1["price"]
p5_r2_c2["Unit sale price"] = p5_r2_c2["Gross"]
#############################################################
p6_r1_c1["Unit sale price"] = p6_r1_c1["price"]
p6_r1_c2["Unit sale price"] = p6_r1_c2["Gross"]
p6_r2_c1["Unit sale price"] = p6_r2_c1["Gross"]
p6_r2_c2["Unit sale price"] = p6_r2_c2["profit"]
#############################################################

In [30]:
#11.9 串接所有資料
p10_new = pd.concat([p1_r1_c1,p1_r1_c2,p1_r2_c1,p1_r2_c2,
                    p2_r1_c1,p2_r1_c2,p2_r2_c1,p2_r2_c2,
                    p3_r1_c1,p3_r1_c2,p3_r2_c1,p3_r2_c2,
                    p4_r1_c1,p4_r1_c2,p4_r2_c1,p4_r2_c2,
                    p5_r1_c1,p5_r1_c2,p5_r2_c1,p5_r2_c2,
                    p6_r1_c1,p6_r1_c2,p6_r2_c1,p6_r2_c2,])
p10_new

,Year,Product.2,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,...,Order method type,Retailer Country,Revenue.111,Planned revenue,Product cost,Quantity.111,Unit cost,Unit price,Gross profit,Unit sale price
2500,2004,Hibernator,Telephone,Canada,NaN,NaN,NaN,NaN,NaN,NaN,...,Telephone,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2501,2004,Hibernator,Telephone,Mexico,26627.25,28631.85,16770,195,86,146.83,...,Telephone,Mexico,26627.25,28631.85,16770,195,86,146.83,9857.25,136.550
2502,2004,Hibernator,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,...,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2503,2004,Hibernator,Telephone,Japan,624588.8,720054.32,421744,4904,86,146.83,...,Telephone,Japan,624588.8,720054.32,421744,4904,86,146.83,202844.8,130.823
2504,2004,Hibernator,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,...,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17529,2004,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,Sales visit,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38682,2005,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,Sales visit,United States,10904.28,11363.52,2990.4,1068.0,2.8,10.64,7913.88,10.210
38697,2005,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,Sales visit,United Kingdom,27987.84,28855.68,7593.6,2712.0,2.8,10.64,20394.24,10.320
59850,2006,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,Sales visit,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59865,2006,Course,Pro,Golf,and,Tee,Set,Sales,visit,United,...,Sales visit,United Kingdom,8750.77,8926.96,2349.2,839.0,2.8,10.64,6401.57,10.430

In [31]:
#11.10 丟掉不要的欄位
p11_new = p10_new.drop(['Product.2','Order','method','type.1','Retailer','country','Revenue','Planned','revenue','Product.3','cost','Quantity','Unit','cost.1','Unit.1','price','Gross','profit','Unit.2','sale','price.1'],axis=1)

In [32]:
p11_new.groupby('Product type').count()

,Year,Product line,Product,Order method type,Retailer Country,Revenue.111,Planned revenue,Product cost,Quantity.111,Unit cost,Unit price,Gross profit,Unit sale price
Product type,,,,,,,,,,,,,
Climbing Accessories,3087,3087,3087,3087,3087,729,729,729,729,729,729,729,729
Cooking Gear,5880,5880,5880,5880,5880,2059,2059,2059,2059,2059,2059,2059,2059
First Aid,2205,2205,2205,2205,2205,812,812,812,812,812,812,812,812
Golf Accessories,1764,1764,1764,1764,1764,619,619,619,619,619,619,619,619
Insect Repellents,2205,2205,2205,2205,2205,795,795,795,795,795,795,795,795
Sleeping Bags,3087,3087,3087,3087,3087,1189,1189,1189,1189,1189,1189,1189,1189

In [33]:
p11_new = p11_new.drop('Revenue.111',axis=1)

In [34]:
p11_new = p11_new.rename(columns={'Revenue.111': 'Revenue','Quantity.111': 'Quantity'})

In [35]:
#11 整理完成
p11_new

,Year,Product line,Product type,Product,Order method type,Retailer Country,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
2500,2004,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2501,2004,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Mexico,28631.85,16770,195,86,146.83,9857.25,136.550
2502,2004,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2503,2004,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Japan,720054.32,421744,4904,86,146.83,202844.8,130.823
2504,2004,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17529,2004,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38682,2005,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,11363.52,2990.4,1068.0,2.8,10.64,7913.88,10.210
38697,2005,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,28855.68,7593.6,2712.0,2.8,10.64,20394.24,10.320
59850,2006,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59865,2006,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,8926.96,2349.2,839.0,2.8,10.64,6401.57,10.430

In [36]:
#12 輸出csv
p11_new.to_csv('ECT_HW1_108403523.csv', index=True)

In [37]:
#13 驗證資料個數正確
p11_new.groupby('Product type').count()

,Year,Product line,Product,Order method type,Retailer Country,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
Product type,,,,,,,,,,,,
Climbing Accessories,3087,3087,3087,3087,3087,729,729,729,729,729,729,729
Cooking Gear,5880,5880,5880,5880,5880,2059,2059,2059,2059,2059,2059,2059
First Aid,2205,2205,2205,2205,2205,812,812,812,812,812,812,812
Golf Accessories,1764,1764,1764,1764,1764,619,619,619,619,619,619,619
Insect Repellents,2205,2205,2205,2205,2205,795,795,795,795,795,795,795
Sleeping Bags,3087,3087,3087,3087,3087,1189,1189,1189,1189,1189,1189,1189